@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 255, 255, 255;
   /* --background-end-rgb: #0a1f44; */
   --background-start-rgb: #0f3470;
   --background-end-rgb: #0f3470;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
   font-family: 'Kode Mono', monospace;
   color: rgb(var(--foreground-rgb));
   /* background: linear-gradient(
      135deg,
      var(--background-end-rgb) 0%,
      var(--background-start-rgb) 100%
   ); */
   background-color: #0f3470;
}

/* styles/globals.css */
body {
   height: calc(var(--vh, 1vh) * 100);
}

.qr-video {
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover; /* This ensures the video scales correctly within the element */
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

@keyframes slide-in {
   from {
      transform: translateX(-100%);
      opacity: 0;
   }
   to {
      transform: translateX(0);
      opacity: 1;
   }
}

.toast-container {
   position: fixed;
   bottom: 5%;
   left: 5%;
   z-index: 1000; /* Ensure the container is above all other elements */
}

.drawer-header {
   margin-top: 40px;
}

.drawer-header h5 {
   @apply text-xl;
}

.drawer-header button {
   margin-top: 20px;
   margin-right: 8px;
}

.toast-slide-in {
   animation: slide-in 0.2s ease-out;
}
.embla {
   /* position: relative; */
   max-width: 100%;
}

.embla__viewport {
   overflow: hidden;
   width: 100%;
}

.embla__container {
   display: flex;
}

.embla__slide {
   position: relative;
   min-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.embla__button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border: none;
   cursor: pointer;
   z-index: 10;
}

.embla__button--prev {
   left: 10px;
}

.embla__button--next {
   right: 10px;
}

.embla__dots {
   display: flex;
   justify-content: center;
   padding-top: 10px;
}

.embla__dot {
   width: 10px;
   height: 10px;
   margin: 0 5px;
   background-color: gray;
   border-radius: 50%;
   cursor: pointer;
}

.embla__dot.is-selected {
   background-color: black;
}

.link {
   @apply underline text-cyan-teal;
}

.btn-primary {
   @apply bg-cyan-teal text-white border-cyan-teal  hover:border-none hover:outline-none;
}

.btn-bg-blend {
   @apply hover:bg-[#1f3473] bg-[#1E3A8A] text-white border-none hover:border-none hover:outline-none;
}

.btn-notification {
   @apply underline text-sm;
}

.notification-text {
   @apply text-start font-bold;
}
