.scan-region-highlight {
  position: absolute !important;
  aspect-ratio: 1 !important;
  width: min(80%, 80vh) !important;
  height: min(80%, 80vw) !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scaleX(-1) !important;
}

.scan-region-highlight-svg {
  stroke: white !important;
}

.code-outline-highlight {
  stroke: white !important;
}

@keyframes pulse {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1.01);
  }
}
